@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(214, 214, 214);
  --foreground: #171717;
  --swiper-navigation-color: var(--background);
  --swiper-navigation-top-offset: 35%;
  --swiper-navigation-background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Rubik", sans-serif; */


  font-family: "Amatic SC", sans-serif;

}